.concept {
  background-color: cl(ice-blue);
  padding-top: 20px;
  padding-bottom: 20px;

  @include overTab {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .concept-title {
    @include overTab {
    }
  }
  .concept-cont {
  }

  .concept-list {
    padding-left: 30px;
    padding-right: 30px;

    @include overTab {
      display: flex;
      justify-content: space-around;
    }
  }
  .concept-item {
    max-width: 300px;
    background-color: cl(ice-blue);
    align-self: stretch;
    display: flex;
    margin: 0 auto;
    flex-flow: column-reverse;
    border-radius: 5px;

    @include overTab {
    }
    + .concept-item {
      margin-top: 20px;
      @include overTab {
        margin-top: 0;
        margin-left: 1.5em;
      }
    }
    .text {
      padding-left: 20px;
      padding-right: 20px;
      flex-grow: 1;
    }
    .title {
      text-align: center;
      font-size: 18px;
      padding-bottom: 20px;
      font-weight: 600;

      @include overTab {
        font-size: 1.3vw;
      }
    }
    .desc {
      text-align: left;
      font-size: 14px;

      @include overTab {
        font-size: 1vw;
      }
    }
    .image {
      width: 100%;

      margin-left: auto;
      margin-right: auto;
      max-width: 40px;
      @include overTab {
        max-width: 70px;
      }
      img {
        border-radius: 5px;
      }
    }
  }
}
